<legend>Edit <%= resource_name.to_s.humanize %></legend>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal", }) do |f| %>
  <%= devise_error_messages! %>
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">New Password</label>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">New Password Confirmation</label>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Current Password</label>
    <div class="controls">
      <%= f.password_field :current_password %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Update" %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="span3">
    <%= link_to "Back", :back %>
  </div>
  <div class="offset6 span3">
    <%= link_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure? This will be permanent." }, :method => :delete %>
  </div>
</div>

