<div class="row">
  <h1>Your Tracking Data</h1>
  <div class="accordion" id="accordion2">
    <% @current_user.sites.each do |site| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <h1>
          <a class="accordion-toggle collapsed in" rel="tooltip" data-placement="left" data-original-title="Click to expand" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= site.id %>"><%= site.name %></a>
        </h1>
      </div>
      <div class="accordion-body collapse" id="collapse<%= site.id %>">
        <div class="accordion-inner">
          <ul>
            <% site.visitors.each do |visitor| %>
            <li>
              <div class="accordion" id="accordion-visitor-<% visitor.id %>">
                <% visitor.visits.each do |visit| %>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <h1>
                      <a class="accordion-toggle collapsed in" rel="tooltip" data-placement="left" data-original-title="Click to expand" data-toggle="collapse" data-parent="#accordion-visitor-<% visitor.id %>" href="#collapse<%= visitor.id %>"><%= visitor.name %></a>
                    </h1>
                  </div>
                  <div class="accordion-body collapse" id="collapse<%= visitor.id %>">
                    <div class="accordion-inner">
                      <table class="table table-striped table-bordered table-hover">
                        <tr>
                          <th>Time</th>
                          <th>Url</th>
                          <th>Event</th>
                          <th>Data</th>
                          <th>IP Address</th>
                          <th>Location</th>
                        </tr>
                        <% visitor.visits.each do |visit| %>
                        <tr>
                          <td><%= visit.created_at %></td>
                          <td><%= visit.url %></td>
                          <td><%= visit.event %></td>
                          <td><%= visit.data %></td>
                          <td><%= visit.ip_address %></td>
                          <td><a href="#" rel="popover" data-content="<img src=&quot;http://maps.googleapis.com/maps/api/staticmap?center=<%= visit.location %>&zoom=14&size=512x512&maptype=roadmap&sensor=false&quot; />" data-original-title="<%= visit.location %>"><%= visit.location %></a></td>
                        </tr>
                        <% end %>
                      </table>
                    </div>
                  </div>
                </div>
              <% end %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
$("a[rel=tooltip]").tooltip();
$("a[rel=popover]").popover({trigger:'hover'});
</script>